.App {
  width: 300px;
  height: auto;
  border: 3px solid darkgoldenrod;
  background-color: cornsilk;
  margin: 5px;
  padding: 10px;
  color: darkgoldenrod;
}

h2 {
  text-align: center;
  color: darkgoldenrod;
  font-family: serif;
}

button{
background-color: darkgoldenrod;  
color: white;
border-color: darkgoldenrod;
margin-top: 5px;
padding: 10px 16px;
font-size: 16px;
border-radius: 5%;
}

.comments {
  width: 290px;
  height: 50px;
}